{% load wagtailcore_tags %}

<div class="accordion accordion-flush">
    {% for item in value %}
    <div class="accordion-item">
        <h2 class="accordion-header mt-0">
          <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target=".{{ item.titel|slugify }}" aria-expanded="false">
            {{ item.titel }}
          </button>
        </h2>
        <div class="accordion-collapse collapse {{ item.titel|slugify }}">
          <div class="accordion-body">
            {{ item.text|richtext }}
          </div>
        </div>
    </div>
    {% endfor %}
</div>